language: node_js
node_js:
  - 0.12.2
before_install:
  - npm install -g bower
  - npm install -g codeclimate-test-reporter
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
after_script:
  - codeclimate < coverage/lcov.info

